<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <title>Link das API's</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
            <h1 class="text-center ">LINKS PARA API'S!</h1>
            <div class="col-lg-6 text-center">
            <h2>Status:</h2>
            <div>
                <button class="btn btn-link" type="button"><a target="_blank"
                    href="/data/status/">Geral</a></button>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/status/albuquerque">albuquerque</a>
                        </li>
                        <li><a target="_blank" href="/data/status/batista">batista</a></li>
                        <li><a target="_blank" href="/data/status/carvalho">carvalho</a></li>
                        <li><a target="_blank" href="/data/status/costacomercio">costacomercio</a></li>
                        <li><a target="_blank" href="/data/status/costaltda">costaltda</a></li>
                        <li><a target="_blank" href="/data/status/melo">melo</a></li>
                        <li><a target="_blank" href="/data/status/pereira">pereira</a></li>
                        <li><a target="_blank" href="/data/status/santos">santos</a></li>
                        <li><a target="_blank" href="/data/status/souza">souza</a></li>
                        <li><a target="_blank" href="/data/status/xavier">xavier</a></li>
                    </ul>
                </div>
            </div>
            <h2>Nome:</h2>
            <div>
                <button class="btn btn-link" type="button"><a target="_blank"
                    href="/data/nome/">Geral</a></button>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/nome/albuquerque">albuquerque</a>
                        </li>
                        <li><a target="_blank" href="/data/nome/batista">batista</a></li>
                        <li><a target="_blank" href="/data/nome/carvalho">carvalho</a></li>
                        <li><a target="_blank" href="/data/nome/costacomercio">costacomercio</a>
                        </li>
                        <li><a target="_blank" href="/data/nome/costaltda">costaltda</a></li>
                        <li><a target="_blank" href="/data/nome/melo">melo</a></li>
                        <li><a target="_blank" href="/data/nome/pereira">pereira</a></li>
                        <li><a target="_blank" href="/data/nome/santos">santos</a></li>
                        <li><a target="_blank" href="/data/nome/souza">souza</a></li>
                        <li><a target="_blank" href="/data/nome/xavier">xavier</a></li>
                    </ul>
                </div>
            </div>
            <h2>Task:</h2>
            <div>
                <button class="btn btn-link" type="button"><a target="_blank"
                    href="/data/task/">Geral</a></button>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/task/albuquerque">albuquerque</a>
                        </li>
                        <li><a target="_blank" href="/data/task/batista">batista</a></li>
                        <li><a target="_blank" href="/data/task/carvalho">carvalho</a></li>
                        <li><a target="_blank" href="/data/task/costacomercio">costacomercio</a>
                        </li>
                        <li><a target="_blank" href="/data/task/costaltda">costaltda</a></li>
                        <li><a target="_blank" href="/data/task/melo">melo</a></li>
                        <li><a target="_blank" href="/data/task/pereira">pereira</a></li>
                        <li><a target="_blank" href="/data/task/santos">santos</a></li>
                        <li><a target="_blank" href="/data/task/souza">souza</a></li>
                        <li><a target="_blank" href="/data/task/xavier">xavier</a></li>
                    </ul>
                </div>
            </div>
            <h2>Horas:</h2>
            <div>
                <button class="btn btn-link" type="button"><a target="_blank"
                    href="/data/horas/">Geral</a></button>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/horas/albuquerque">albuquerque</a>
                        </li>
                        <li><a target="_blank" href="/data/horas/batista">batista</a></li>
                        <li><a target="_blank" href="/data/horas/carvalho">carvalho</a></li>
                        <li><a target="_blank" href="/data/horas/costacomercio">costacomercio</a></li>
                        <li><a target="_blank" href="/data/horas/costaltda">costaltda</a></li>
                        <li><a target="_blank" href="/data/horas/melo">melo</a></li>
                        <li><a target="_blank" href="/data/horas/pereira">pereira</a></li>
                        <li><a target="_blank" href="/data/horas/santos">santos</a></li>
                        <li><a target="_blank" href="/data/horas/souza">souza</a></li>
                        <li><a target="_blank" href="/data/horas/xavier">xavier</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <h2>Média de Horas:</h2>
            <div>
                <button class="btn btn-link" type="button"><a target="_blank"
                    href="/data/mediahoras/">Geral</a></button>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/mediahoras/albuquerque">albuquerque</a>
                        </li>
                        <li><a target="_blank" href="/data/mediahoras/batista">batista</a></li>
                        <li><a target="_blank" href="/data/mediahoras/carvalho">carvalho</a></li>
                        <li><a target="_blank" href="/data/mediahoras/costacomercio">costacomercio</a></li>
                        <li><a target="_blank" href="/data/mediahoras/costaltda">costaltda</a></li>
                        <li><a target="_blank" href="/data/mediahoras/melo">melo</a></li>
                        <li><a target="_blank" href="/data/mediahoras/pereira">pereira</a></li>
                        <li><a target="_blank" href="/data/mediahoras/santos">santos</a></li>
                        <li><a target="_blank" href="/data/mediahoras/souza">souza</a></li>
                        <li><a target="_blank" href="/data/mediahoras/xavier">xavier</a></li>
                    </ul>
                </div>
            </div>

            <h2>Horas por colaborador:</h2>
            <div>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/horascolaborador/anajulia">Ana Julia</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/antonionogueira">Antonio Nogueira</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/bernardosouza">Bernardo Souza</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/carlosbatista">Carlos Batista</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/ceciliamoreira">Cecilia Moreira</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/celiaoliveira">Celia Oliveira</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/davibatista">Davi Batista</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/elisioalbuquerque">Elisio Albuquerque</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/elisiomartins">Elisio Martins</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/enzogabriel">Enzo Gabriel Saraiva</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/fabiosouza">Fabio Souza</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/gustavosantos">Gustavo Santos</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/kleberoliveira">Kleber Oliveira</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/luccamelo">Lucca Melo</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/matheusbarros">Matheus Barros</a></li>
                        <li><a target="_blank" href="/data/horascolaborador/pablomartins">Pablo martins </a></li>
                        <li><a target="_blank" href="/data/horascolaborador/rafaelxavier">Rafael Xavier </a></li>
                        <li><a target="_blank" href="/data/horascolaborador/talitabraga">Talita Braga </a></li>
                        <li><a target="_blank" href="/data/horascolaborador/vicentemoraes">Vicente Moraes </a></li>
                    </ul>
                </div>
            </div>

            <h2>Tasks por colaborador:</h2>
            <div>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Projetos:
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center">
                        <li><a target="_blank" href="/data/taskcolaborador/anajulia">Ana Julia</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/antonionogueira">Antonio Nogueira</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/bernardosouza">Bernardo Souza</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/carlosbatista">Carlos Batista</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/ceciliamoreira">Cecilia Moreira</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/celiaoliveira">Celia Oliveira</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/davibatista">Davi Batista</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/elisioalbuquerque">Elisio Albuquerque</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/elisiomartins">Elisio Martins</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/enzogabriel">Enzo Gabriel Saraiva</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/fabiosouza">Fabio Souza</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/gustavosantos">Gustavo Santos</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/kleberoliveira">Kleber Oliveira</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/luccamelo">Lucca Melo</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/matheusbarros">Matheus Barros</a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/pablomartins">Pablo martins </a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/rafaelxavier">Rafael Xavier </a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/talitabraga">Talita Braga </a></li>
                        <li><a target="_blank" href="/data/taskcolaborador/vicentemoraes">Vicente Moraes </a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>

</html>